<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table style="width: 100%;">
        <tr>
            <th>Id</th>
            <th>Bygning</th>
            <th>Lokale</th>
            <th>Temperatur</th>
            <th>Luftfugtighed</th>
            <th>CO2</th>
            <th>Luftkvalitet</th>
            <th>Lysniveau</th>
            <th>Lys Farve</th>
            <th>Lydniveau</th>
        </tr>
        {{#each json}}
        <tr>
            <td id="id">{{id}}</td>
            <td id="bygning">{{bygning}}</td>
            <td id="lokale">{{lokale}}</td>
            <td id="temperatur">{{temperatur}}</td>
            <td id="luftfugtighed">{{luftfugtighed}}%</td>
            <td id="co2">{{co2}}</td>
            <td id="luftkvalitet">{{luftkvalitet}}</td>
            <td id="lysniveau">{{lysniveau}}</td>
            <td id="lysfarve">{{lysfarve}}</td>
            <td id="lydniveau">{{lydniveau}}</td>
        </tr>
        {{/each}}
    </table>
</body>

</html>